<form id="confirm-close-dialog">
    <p class="text-danger"><strong>{{'TOOLBAR.ACTION.CLOSE.UNSAVED-CLOSE.tooltip' | translate}}</strong></p>
  <div>
    <div class="form-group">
      <button type="submit" class="btn btn-danger pull-right" ng-click="closeThisDialog(true)">{{'DIALOG.ACTION.CLOSE-EDITOR' | translate}}</button>&nbsp;
      <button type="button" class="btn btn-default pull-right" style="margin-right: 5px;" ng-click="closeThisDialog(false)">{{'DIALOG.ACTION.CANCEL' | translate}}</button>&nbsp;
    </div>
  </div>
</form>
